//colors
$bgColor: #242b38;
$whiteColor: #fafafa;
$closedColor: #131721;
$openColor: #4568da;
$indicatedColor: #756ec5;
$flaggedColor: #ff9b2f;
$minedColor: #c41f13;
$revealedColor: #57c340;

#default {
  background-color: $bgColor;

  .game-window {
    border-color: $whiteColor;
    color: $whiteColor;

    button {
      color: $whiteColor;
    }

    .info-field {
      border-color: $whiteColor;
    }
  }

  //Components
  .cell {
    border-radius: 0.2rem;
    background-color: $closedColor;
    border-color: $closedColor;
  }

  //css mods for cell
  .cell__open {
    background-color: $openColor;
  }

  .cell__indicated {
    background-color: $indicatedColor;
    color: $whiteColor;
  }

  .cell__flagged {
    background: url(./../icons/default/flag.svg) no-repeat $flaggedColor center;
  }

  .cell__mined {
    background: url(./../icons/default/blow.svg) no-repeat $minedColor center;
  }

  .cell__mined-revealed {
    background: url(./../icons/default/mine.svg) no-repeat $revealedColor center;
  }

  //info-field
  .info-field__bomb-icon {
    background: url(./../icons/default/mine.svg) no-repeat center;
  }

  //settings-sidebar
  .settings-sidebar {
    background-color: $bgColor;

    .settings-btn {
      color: $whiteColor;
    }
  }

  //difficulty-settings__table
  .difficulty-settings__table {
    color: $whiteColor;
    border-color: $whiteColor;

    tr {
      background-color: $indicatedColor;
    }
  }

  //difficulty-settings__apply-btn
  .difficulty-settings__apply-btn {
    color: $whiteColor;
  }

  //common close-btn
  .close-btn {
    * {
      background-color: $whiteColor;
    }
  }

  //settings-section
  .settings-section {
    background-color: $bgColor;
  }

  //common saved-record
  .saved-record {
    border-color: $whiteColor;
    color: $whiteColor;
    background-color: $indicatedColor;

    .saved-record__clear-btn {
      color: $whiteColor;
    }
    .saved-record__save-btn,
    .saved-record__load-btn {
      color: $whiteColor;
    }
  }
}
