//colors
$whiteColor: #fafafa;
$closedColor: #0d0f18;
$minedColor: #c41f13;

@mixin bgColor{
  background: #242b38;
  background: linear-gradient(135deg, #242C38, #150D36);
}

@mixin closedColorStyle {
  background: #131821;
  background: linear-gradient(135deg, #131821, #040110);
}

@mixin openColorStyle {
  background: #4668DA;
  background: linear-gradient(135deg, #4668DA, #3054C8);
}

@mixin indicatedColorStyle {
  background: #756FC6;
  background: linear-gradient(135deg, #756FC6, #9790EE);
}

#default {
  @include bgColor;

  .game-window {
    border-color: $whiteColor;
    color: $whiteColor;

    button {
      color: $whiteColor;
    }

    .info-field {
      border-color: $whiteColor;
    }
  }

  //Components
  .cell {
    @include closedColorStyle;
    background-size: cover !important;
    background-repeat: no-repeat;
    border-radius: 0.2rem;
  }

  //css mods for cell
  .cell__open {
    @include openColorStyle;
  }

  .cell__indicated {
    @include indicatedColorStyle;
    color: $whiteColor;
  }

  .cell__flagged {
    background: #FF9C2F;
    background-image: url(./../icons/default/flag.svg), linear-gradient(135deg, #FF9C2F, #EB820F);
  }

  .cell__mined {
    background: #C52013;
    background-image: url(./../icons/default/blow.svg), linear-gradient(135deg, #C52013, #F31B0B);
  }

  .cell__mined-revealed {
    background: #58C341;
    background-image: url(./../icons/default/mineIcon.svg), linear-gradient(135deg, #58C341, #68DF4E);
  }

  //info-field
  .info-field__bomb-icon {
    background: url(./../icons/default/mineIcon.svg) no-repeat center;
  }

  //settings-sidebar
  .settings-sidebar {
    @include bgColor;

    .settings-btn {
      color: $whiteColor;
    }
  }

  //difficulty-settings__table
  .difficulty-settings__table {
    color: $whiteColor;
    border-color: $whiteColor;

    tr {
      @include indicatedColorStyle;

      th {
        //css-mod for label
        .showRadio {
          &::before {
            display: block;
          }
        }
      }
    }
  }

  //difficulty-settings__apply-btn
  .difficulty-settings__apply-btn {
    color: $whiteColor;
  }

  //common close-btn
  .close-btn {
    * {
      background-color: $whiteColor;
    }
  }

  //settings-section
  .settings-section {
    @include bgColor;
  }
  
  //common saved-record
  .saved-record {
    @include indicatedColorStyle;
    border-color: $whiteColor;
    color: $whiteColor;

    .saved-record__clear-btn {
      color: $whiteColor;
    }
    .saved-record__save-btn,
    .saved-record__load-btn {
      color: $whiteColor;
    }
  }
}
