@import "./defaultTheme.scss";

* {
  box-sizing: border-box;
}

input {
  max-width: 12rem;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

button {
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

ul {
  list-style: none;
  padding: 0;

  li {
    padding: 0;
  }
}
//

body {
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.game-window {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-width: 20rem;
  padding: 0.3rem;
  margin: 4rem auto 0 auto;
  border: solid black 0.2rem;
  border-radius: 0.2rem;

  .info-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    border: solid black 0.1rem;
    border-radius: 0.2rem;

    .info-field__level-info,
    .info_field__game-info {
      display: flex;
      justify-content: center;
      width: 100%;

      .info-field__restart-btn,
      .info-field__settings-btn {
        cursor: pointer;
      }

      .info-field__indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        max-width: 7rem;
        width: 100%;
        margin: 0.5rem 0.7rem;
        padding: 0.5rem;
        text-align: center;

        .info-field__icon {
          display: block;
          max-width: 100%;
          width: 1.8rem;
        }
      }
    }
  }

  .field {
    align-self: center;
    display: grid;
    justify-items: center;
  }
}

.settings-sidebar {
  position: fixed;
  top: 0;
  left: -102%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  transition: 0.3s ease-in-out;

  .settings-btn {
    font-size: 4rem;
    cursor: pointer;
  }

  .settings-sidebar__close-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

//css-mod for settings-sidebar
.show-sidebar {
  left: 0%;
}
//

//Components
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.05rem;
  background-size: 80% !important;
  font-size: 1.5rem;
}

.settings-section {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.difficulty-settings {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;

  .difficulty-settings__table {
    border: solid 0.2rem;
    border-radius: 0.2rem;
    font-size: 1.8rem;

    th {
      padding: 0.4rem;

      label {
        position: relative;
        display: block;
        width: 100%;
        padding-left: 2rem;
        cursor: pointer;

        &::before {
          content: url(./../icons/default/cursor.svg);
          position: absolute;
          top: 55%;
          left: 0.6rem;
          transform: translate(-50%, -50%);
          display: none;
          width: 1.7rem;
          height: 1.7rem;
        }
      }

      .custom-lvl__input-number {
        font-size: 1.8rem;
      }
    }
  }

  .difficulty-settings__apply-btn {
    margin-top: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.progress-loading-section,
.progress-saving-section {
  .saved-games-list,
  .data-entry-list {
    margin-bottom: 10rem;
  }
}

//Common components
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(0);
  width: 5rem;
  height: 5rem;
  margin: 2rem 5rem 0 0;
  cursor: pointer;
  transition: 0.2s;

  .close-btn__crossbar-one,
  .close-btn__crossbar-two {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: black;
  }

  .close-btn__crossbar-one {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .close-btn__crossbar-two {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    transform: rotate(90deg);
  }
}

.saved-record {
  display: flex;
  margin: 0.4rem 0;
  border: solid black 0.1rem;

  .saved-record__name {
    width: 40rem;
    font-size: 2rem;
  }

  .saved-record__clear-btn,
  .saved-record__load-btn,
  .saved-record__save-btn {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}