* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  background: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.game-window {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-width: 20rem;
  padding: 0.3rem;
  margin: 4rem auto 0 auto;
  border: solid black 0.2rem;
  border-radius: 0.2rem;

  .info-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    border: solid black 0.1rem;
    border-radius: 0.2rem;

    .info-field__level-info,
    .info_field__game-info {
      display: flex;
      justify-content: center;
      width: 100%;

      .info-field__indicator {
        display: block;
        max-width: 5rem;
        width: 100%;
        padding: 0.5rem;
        text-align: center;
      }
    }
  }

  .field {
    align-self: center;
    display: grid;
    justify-items: center;
  }
}

.cell {
  display: block;
  margin: 0.1rem;
  width: 2.2rem;
  height: 2.2rem;
  border: solid black 0.05rem;
}

// css mod for cell
.cell__open {
  background-color: yellowgreen;
}

.cell__indicated {
  background-color: rgb(91, 91, 233);
  color: black;
}

.cell__mined {
  background-color: rgb(194, 54, 54);
}

.cell__mined-revealed {
  background-color: rgb(119, 50, 50)
}

.cell__flagged{
  background-color: rgb(238, 135, 152);
}